<a href="https://colab.research.google.com/github/Tarikol-Islam/Crops_Price_Prediction_Linear_Regrssion/blob/main/Crops_Price_Prediction_Linear_Regrssion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from google.colab import files
uploaded = files.upload()

Saving Dataset_Rice_Dataset.csv to Dataset_Rice_Dataset.csv

In [19]:
DataFrame = pd.read_csv('Dataset_Rice_Dataset.csv')
DataFrame

    Crops  Year       Region  ...  Rainfall(m)  Fertilizer(kg)       Price
0    Rice  2016    Bandarban  ...        3.989      1181451.57   227342240
1    Rice  2016   Chattagram  ...        9.981     18374755.62  3585670640
2    Rice  2016  Cox's Bazar  ...        6.770     14011015.40  2802680090
3    Rice  2016      Cumilla  ...        5.793     44689701.03  9473875950
4    Rice  2016     Chandpur  ...        7.538     17907769.04  3562696160
..    ...   ...          ...  ...          ...             ...         ...
121  Rice  2017      Rangpur  ...        4.880     28943243.36   939109755
122  Rice  2017    Gaibandha  ...        5.442     31258713.14   906762082
123  Rice  2017     Kurigram  ...        7.460     26317394.42   821648445
124  Rice  2017   Nilphamari  ...        5.430     17394509.15   554902095
125  Rice  2017  Lalmonirhat  ...        7.150     10773044.10   338758831

[126 rows x 8 columns]

In [20]:
Regression = linear_model.LinearRegression()
Regression.fit(DataFrame[['Area(Acres)','Production(m.ton)','Rainfall(m)','Fertilizer(kg)']],DataFrame.Price)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [22]:
Regression.coef_, Regression.intercept_

(array([ 3.86584049e+12,  1.63150680e+04,  7.18182797e+07, -2.99921679e+10]),
 -1306965188.9985123)

In [25]:
Prediction = Regression.predict([[float(input("Enter Area: ")),float(input("Enter Production: ")),float(input("Enter Rainfall: ")),float(input("Enter Fertilizer: "))]])

Enter Area: 83580
Enter Production: 131251
Enter Rainfall: 7.15
Enter Fertilizer: 10773044

In [26]:
Prediction

array([4.25621282e+09])